<!-- <h1 class="display-4">
    Employee register
  </h1>
<form #form="ngForm" autocomplete="off">
  <div class="form-group">
   <input name="fullName" #fullName="ngModel" [(ngModel)]="service.formData.fullName" class="form-control" placeholder="Full Name">
   </div> -->
   <h1 class="display-4">Employee register</h1>
   <form #form="ngForm"  autocomplete="off">
    <div class="form-group">
    <input name="fullName" #fullName=ngModel [(ngModel)]="service.formData.fullName"  placeholder="Full Name" class="form-control">
     <div *ngIf="fullName.invalid && fullName.touched" class="validation-error">This field is required</div>
  </div>
  <div class="form-group">
    <input name="position" #position=ngModel [(ngModel)]="service.formData.position" placeholder="Designation" class="form-control" >
  </div>
  <div class="form-row">
  <div class="form-group col-md-6">
    <input name="empId" #empId=ngModel [(ngModel)]="service.formData.empId" placeholder="Emp ID" class="form-control" >
  </div>
  <div class="form-group col-md-6">
    <input name="mobile" #mobile=ngModel [(ngModel)]="service.formData.mobile" placeholder="Mobile" class="form-control" >
  </div>
</div>
<div class="form-group">
<button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-info">Submit</button>
</div>
  </form> 

  <!-- </div>  
</form> -->